{
  "presets": [
    ["env", {"modules": false, "loose": true, "debug": false}]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-react-jsx", {"pragma": "h"}]
  ]
}